body {
    font-family: 'Baloo Bhai', cursive;
    font-size: 15px;
    /*background-color: #D95E3C;*/
    background: url("../img/background.jpg") no-repeat center fixed;
    background-size: cover;
}

nav {
    font-size: 15px;
}
#section1 {
    padding: 50px 20px;
    color: black;
    background-color: #E5E2DD;
}

#section2 {
    padding: 50px 20px;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.7);
}

#section3 {
    padding: 50px 20px;
    color: black;
    background-color: #E5E2DD;
}

#section4 {
    padding: 50px 20px;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.7);
}

#section5 {
    padding: 50px 20px;
    color: black;
    background-color: #E5E2DD;
}

.popupbox {
    color: lightseagreen;
}

#footer {
    font-size: 18px;
    text-align: center;
    padding: 15px 20px;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.7);
}